:root {
  --text-100: #e6a682;
  --text-200: #e6a682;
  --bg-100: #3b3a37;
  --bg-200: #b54745;
  --bg-300: #ffffff;
}



html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}


body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body.lightMode-body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-300);
  transition: background 0.2s linear;
}

/* Header */

header {
  background-color: transparent;
  backdrop-filter: blur(10px); /* Use backdrop-filter for modern browsers */
  display: flex;
  justify-content: space-between;
  padding: 1% 10%;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  /* border-bottom: 0.5px solid rgba(90, 80, 70, 0.2); */
}

.headerLogoName {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--text-100);
  text-decoration: none;
  text-transform: uppercase;
}

.headerNav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0%;
  width: 70vh;
}

.headerNav ul li {
  padding: 2% 2.4%;
  border-radius: 0.5rem;
  transition: 0.5s;
}

.headerNav ul li a {
  font-size: 1.7rem;
  color: #e6a682;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.headerNav ul li a:hover {
  color: #e6a682;
}

.headerNav ul li:hover {
  scale: 1.06;
  cursor: pointer;
  background-color: #b54745;

}

.headerNav ul li .fa-solid {
  font-size: 2rem;
  color: #e6a682;
}

/* Home Section */

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 13%;
  /* margin-top: 13%; */
}

.homeContainer {
  width: 50%;
}

.homeContainer h1 {
  font-size: 4rem;
  color: #b54745;
  margin: 0;
}

.homeContainer h3 {
  font-size: 2.5rem;
  color: #e6a682;
  margin: 2% 0 0 0;
}

.homeContainer p {
  font-size: 1.8rem;
  color: #e6a682;
  margin: 3% 0 0 0;
}

.contactMeButton, .resumeButton {
  display: inline-block;
  background: #b54745;
  padding: 2% 4%;
  margin-top: 5%;
  border-radius: 0.5rem;
  text-decoration: none;
  color: #e6a682;
  font-size: 1.8rem;
  margin-right: 4%;
  transition: transform 0.4s ease;
  /* Apply a smooth transition to the scaling effect */
}

.contactMeButton:hover, .resumeButton:hover {
  background: rgba(181, 71, 69, 0.9);
  color: #ecb799;
  transform: scale(1.06); /* You can adjust the scaling factor as needed */

}

.homeImgContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 40%;
  border-radius: 100rem;
  max-width: 60%;
  /* background-color: #e6a682; */
}

.homeImgContainer img {
  width: 80%;
  border-radius: 100%;
}

.scrollDownButton {
  background-color: aliceblue;
}
.scroll-down {
  color: #e6a682;
  height: 50px;
  /* width: 5vh;
  background: #b54745;
  border: 2px solid #b54745; */
  position: absolute;
  left: 50%;
  bottom: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid #e6a682;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::before {
  top: 30%;
  animation-delay: 0.3s;

  /* animation: scroll-down 1s ease-in-out infinite; */
}

.scroll-down:hover {
  scale: 1.1;
}

@keyframes scroll-down {
  0% {
    /* top:20%; */
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}


/* About Section */

.aboutSectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 17rem auto 0 auto;
}

.aboutSectionContainer h2 {
    font-size: 3rem;
    color: #b54745;
    margin: 0 ;
    text-align: center;
}

.aboutSectionContainer p {
    font-size: 1.8rem;
    color: #e6a682;
    margin: 1% 0 0 0;
    width: 60%;
    line-height: 1.5;
    text-align: left;
}

.aboutSectionContainer h3 {
  font-size: 2rem;
  color: #b54745;
  margin-top: 8rem;
}

.aboutSectionData {
    display: flex;
    justify-content: space-between;
    /* align-items: center;
    width: 40%; */
    padding: 2rem;
    margin-top: 2rem;
}

.aboutSectionData img {
  width: 33%;
}

.aboutSectionData .used-lang-img {
  width: 28%;
}

.aboutSectionData img:last-of-type {
  width: 35%;
}

.aboutSectionData div {
    margin-top: 2%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 2rem;
    transition: 0.3s;
}

.aboutSectionData div:hover {
    border-color: #b54745;
}

.aboutSectionData div span:first-child {
    font-size: 2.5rem;
    font-weight: bold;
    color: #b54745;
}

.aboutSectionData div span:last-child {
    font-size: 1.5rem;
    color: #e6a682;
    font-weight: 300;
}

/* Skills Section */

.skillsSectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 9rem;
}


.skillsSectionContainer h2 {
    font-size: 3rem;
    color: #b54745;
    margin: 0;
}


.skillsContainer {
    margin-top: 5%;
    width: 60%;
    display: flex;
    justify-content: center;
    gap: 30%;
    align-items: center;
}

.skillsContainerPartOne .skillsContent .skillsHeader, .skillsContainerPartTwo .skillsContent .skillsHeader {
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    width: 60vh;
}

.skillsContainerPartOne .skillsContent, .skillsContainerPartTwo .skillsContent {
    width: 100%;
    cursor: pointer;
}

.skillsContainerPartOne .skillsContent:first-child, .skillsContainerPartTwo .skillsContent:first-child {
    margin-bottom: 10%;
}

.skillsHeader .fa-solid {
    font-size: 2.2rem;
    margin-right: 20px;
    color: #b54745;
}

.skillsHeader .fa-solid:last-child {
    margin: 0 0 0 120px;
    /* justify-self: flex-end; */
}

.skillsHeader h3 {
    font-size: 2rem;
    margin: 0;
    text-align: left;
    color: #e6a682;
    width: 100%;
}

.skillsData {
    display: flex;
    flex-direction: column;
}

.skillsData h3 {
    font-size: 1.5rem;
    margin: 3% 0 0 10%;
    text-align: left;
    color: #e6a682;
    width: 100%;
}

.skillsData span {
    display: block;
    width: 90%;
    background: #b54745;
    height: 1vh;
    margin: 1% 0 3% 10%;
    border-radius: 10rem;
}

/* Projects Section */

.projectsSectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 6rem 0 0 0;
}

.projectsSectionContainer h2 {
  font-size: 3rem;
  color: #b54745;
  margin: 0;
}

.projectsContainerCarousel {
  width: 180vh;
  height: 80vh;
}

.projectsContainerCarousel .react-multiple-carousel__arrow--right {
  right: calc(0% + 1px);
}

.projectsContainerCarousel .react-multiple-carousel__arrow--left {
  left: calc(0% + 1px);
}
.projectsContainerCarousel li {
  padding: 0 0.9% 0 0.9%;
}

.projectsContainerCarousel div {
  width: 78%;
  padding: 0 0%;
  height: 55vh;
  /* background-color: #3b3a37; */
  background: rgba(0, 0, 0, 0.0);
  box-shadow: 0px 10px 36px 0px rgba(0, 0, 0, 0.2);
  padding: 8%;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.projectsContainerCarousel div:hover {
  /* scale: 1.06; */
}

.projectsContainerCarousel div h3 {
  font-size: 1.5rem;
  color: #b54745;
  margin: 0;
  text-align: center;
}


.projectsContainerCarousel div p {
  font-size: 1.4rem;
  color: #e6a682;
  margin: 0;
  width: 100%;
  text-align: center;
}

.projectsContainerCarousel div ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5%;
  width: 100%;
  padding: 0;
  margin: 2% 0 0% 0;
} 

.projectsContainerCarousel div li {
  list-style-type: none;
  font-size: 1.5rem;
  font-weight: 500;
  color: #b54745;
  padding: 0;
}

.projectsContainerCarousel a {
  display: inline-block;
  background: #b54745;
  padding: 1rem 1.2rem;
  /* margin: 4% 3% 0 0; */
  /* width: 32%; */
  border-radius: 0.5rem;
  text-decoration: none;
  color: #e6a682;
  font-size: 1.4rem;
  text-align: center;
  transition: 0.5s;
}

div.project-links {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
  flex-direction: row;
  box-shadow: none;
}

.projectsContainerCarousel a:hover {
  background: rgba(181, 71, 69, 0.9);
  color: #ecb799;
  scale: 1.06;
}

.projectsContainerCarousel .img-container {
  /* width: 100%;
  height: 35vh; */
  width: 40vh;
  height: 20vh;

  margin-bottom: 2rem;
  padding: 0;
}

.projectsContainerCarousel .img-container  img {

  /* height: 30vh;
  width: auto; */
  /* width: 100%; */
  height: 100%;
}


.projectsSectionContainer  h3 {
  font-size: 2rem;
  color: #b54745;
  margin-top: 8rem;
}

/* Contact Me Section */

.ContactSectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 0 0 0;
}

.ContactSectionContainer h2 {
  font-size: 3rem;
  color: #b54745;
  margin: 0;
  margin-bottom: 3%;
}

.contactInfo div p {
  margin: 0;
}

.contactInfo {
  display:  flex;
  justify-content: center;
  margin-bottom: 5%;
  gap: 2%;
}

.contactInfo div {
  width: 37%;
}

.contactInfo div p {
  font-size: 1.4rem;
  color: #e6a682;
  margin: 0;
  width: 100%;
}

.emailContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5%;
}

.emailContainer i {
  font-size: 5rem;
  color: #b54745;
  margin-right: 3%;
}

.emailContainer div h3{
  margin: 0;
  color: #e6a682;
  font-size: 1.8rem;
  font-weight: 300;
}

.emailContainer div span{
  margin: 0;
  color: #e6a682;
  font-size: 1.4rem;
  font-weight: 300;
}

.contactForm form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.contactForm form input {
  padding: 3%;
  background-color: #e6a682;
  border: none;
  margin-bottom: 2%;
  border-radius: 0.4rem;
  color: #3b3a37;
  font-weight: bold;
  outline-color: #b54745;
}

.contactForm form button {
  background-color: #b54745;
  color: #e6a682;
  font-size: 2rem;
  border: 0;
  padding: 2%;
  border-radius: 0.4rem;
  transition: 0.4s;
  cursor: pointer;
}

.contactForm form button:hover {
  background: rgba(181, 71, 69, 0.9);
  color: #ecb799;
  scale: 1.01;
}

.contactForm form button i {
  font-size: 1.8rem;
}

.contactForm form textarea {
  padding: 3%;
  background-color: #e6a682;
  border: none;
  color: #3b3a37;
  margin-bottom: 2%;
  font-weight: bold;
  border-radius: 0.4rem;
} 


footer {
  background-color: #b54745;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2% 0 1% 0;
}

footer h3 {
  font-size: 3rem;
  color: #e6a682;
  margin: 0;
}

footer span {
  font-size: 2rem;
  color: #e6a682;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
  padding: 0;
}

footer ul li {
  list-style-type: none;
  font-size: 2.5rem;
  padding: 0;
}

footer ul li a {
  color: #e6a682;
}

footer small {
  font-size: 1.5rem;
  color: #e6a682;
}


#home {
  padding-top: 20rem; 
}

#about {
  padding-top: 20rem; 
}


#skills {
  padding-top: 10rem; 
}

#projects {
  padding-top: 10rem; 
}

#contact {
  padding-top: 20rem; 
}

.active {
  background-color: #b54745;
}

.darkModeActive {
  background-color: #b54745;
}


/* Media Queries */

@media screen and (min-width:1322px) {
  .menu {
    display: none;
  }

  .projectsContainerCarousel div {
    width: 78%;
  }

  .projectsContainerCarousel .img-container {
    /* width: 100%;
    height: 35vh; */
    width: 30vh;
    height: 20vh;
  
    margin-bottom: 2rem;
    padding: 0;
  }
  
  .projectsContainerCarousel .img-container  img {
  
    /* height: 30vh;
    width: auto; */
    /* width: 100%; */
    height: 100%;
  }
}

@media screen and (min-width:1322px) and (max-width:1500px) {
  .menu {
    display: none;
  }

  
  .skillsContainer {
    flex-direction: column;
    gap: 3rem;
    /* align-items: flex-start; */
    width: 85%;
  }

  .skillsSectionContainer {
    margin-bottom: 8rem;

  }
  
  .skillsData span {
    margin: 1rem 0 0 0;
    width: 90%;
  }

  .skillsData h3 {
    margin: 0;
    margin: 1rem 0 0 0;
  }

  .skillsContent .skillsHeader {
    width: 38vh!important;
  }

  .skillsHeader h3 {
    font-size: 2.1rem;
    width: 60%; 
  }


  .projectsSectionContainer {
    width: 50vh;
    margin: 0 auto;
  }

  .projectsContainerCarousel  {
    height: 130vh;
    width: 125vh;
  }

  .projectsContainerCarousel div {
    width: 40vh;
  }

  .projectsContainerCarousel .img-container {
    height: 20vh;

  }

  .projectsContainerCarousel div:hover {
    scale: 1;
  }

  .aboutSectionData  {
    width: 130vh;
  }
}

@media screen and (min-width:1000px) and (max-width:1321px) {

  .menu {
    display: none;
  }

  .projectsSectionContainer {
    width: 100vh;
    margin: 0 auto;
  }

  .projectsContainerCarousel  {
    height: 130vh;
    width: 86vh;
  }

  .projectsContainerCarousel div {
    width: 60vh;
  }

  .projectsContainerCarousel .img-container {
    height: 30vh;

  }

  .projectsContainerCarousel div:hover {
    /* scale: 1; */
  }

  .aboutSectionData  {
    width: 130vh;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .homeImgContainer img {
    width: 90%;
  }

  .skillsContainer {
    flex-direction: column;
    gap: 5rem;
  }

  .skillsSectionContainer {
    margin-bottom: 8rem;
  }

  .scrollDownButton {
    display: none;
  }

}

@media screen and (min-width:1000px) and (max-width:1200px) {
  .skillsContainer {
    flex-direction: column;
    gap: 5rem;
  }

  .skillsSectionContainer {
    margin-bottom: 8rem;
  }

  .projectsSectionContainer {
    width: 50vh;
    margin: 0 auto;
  }

  .projectsContainerCarousel  {
    height: 130vh;
    width: 50vh;
  }


  .projectsContainerCarousel div {
    width: 35vh;
  }

  .projectsContainerCarousel .img-container {
    height: 18vh;
    width: 30vh;
  }

  .projectsContainerCarousel div:hover {
    /* scale: 1; */
  }
}

@media screen and (min-width:720px) and (max-width:999px) {
  header {
    position: relative;
  }

  .headerNav {
    display: none;
  }

  .menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background-color: #b54745;
    width: 10vh;
    border-radius: 0.5rem;
    right: 4.3rem;
    top: 5rem;
  }

  .menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #b54745;
    border: none;
    color: #e6a682;
    font-size: 2rem;
    width: 4vh;
    height: 4vh;
    padding-bottom: 0.3rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  .menu-button:hover {
    scale: 1.05;
  }


  .menu-container div {
    text-decoration: none;
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #e6a682;
  }

  .menu-container div:first-of-type {
    border-top: none;
  }

  .menu-container div:hover {
    background: rgba(160, 60, 58, 0.8);
  }


  .menu-container a {
    text-decoration: none;
    color: #ecb799;
    font-size: 1.2rem;
  }

  .skillsContainer {
    flex-direction: column;
    gap: 5rem;
  }

  .projectsSectionContainer {
    width: 50vh;
    margin: 0 auto;
  }

  .projectsContainerCarousel  {
    height: 130vh;
    width: 60vh;
  }

  .projectsContainerCarousel div {
    width: 40vh;
  }

  .projectsContainerCarousel .img-container {
    height: 20vh;

  }

  .projectsContainerCarousel div:hover {
    /* scale: 1; */
  }

  .homeImgContainer {
    width: 130vh;
  }

  .homeImgContainer img {
    width: 40vh;
  }

  .scrollDownButton {
    display: none;
  }

  .aboutSectionData {
    display: none;
  }

  .statistics-heading {
    display: none;
  }

  .ContactSectionContainer {
    margin-top: 0;
  }

  .contactInfo div {
    width: 45%;
  }
}

@media screen and (min-width:500px) and (max-width:719px) {
  header {
    position: relative;
  }

  .headerNav {
    display: none;
  }


  .homeImgContainer  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 10rem;
  }

  .homeImgContainer img {
    width: 30vh;
  }

  main {
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: flex-start; */
    padding-top: 10rem!important;
  }

  .scrollDownButton {
    display: none;
  }

  .homeContainer {
    width: 100%;
  }

  .menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background-color: #b54745;
    width: 10vh;
    border-radius: 0.5rem;
    right: 4.3rem;
    top: 5rem;
  }

  .menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #b54745;
    border: none;
    color: #e6a682;
    font-size: 2rem;
    width: 4vh;
    height: 4vh;
    padding-bottom: 0.3rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  .menu-button:hover {
    scale: 1.05;
  }


  .menu-container div {
    text-decoration: none;
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #e6a682;
  }

  .menu-container div:first-of-type {
    border-top: none;
  }

  .menu-container div:hover {
    background: rgba(160, 60, 58, 0.8);
  }


  .menu-container a {
    text-decoration: none;
    color: #ecb799;
    font-size: 1.2rem;
  }


  .skillsContainer {
    flex-direction: column;
    gap: 3rem;
    /* align-items: flex-start; */
    width: 85%;
  }

  .skillsSectionContainer {
    margin-bottom: 8rem;

  }
  
  .skillsData span {
    margin: 1rem 0 0 0;
    width: 90%;
  }

  .skillsData h3 {
    margin: 0;
    margin: 1rem 0 0 0;
  }
/* 
  i.fa-angle-down {
    margin: 0!important;
  }

  i.fa-angle-up {
    margin: 0!important;
  } */

  .skillsContent .skillsHeader {
    width: 38vh!important;
  }

  .skillsHeader h3 {
    font-size: 2.1rem;
    width: 60%; 
  }

  .aboutSectionContainer p {
    width: 67%;
    font-size: 1.7rem;
    text-align: center;
  }


  .projectsSectionContainer {
    width: 10vh;
    margin: 0 auto;
  }

  .projectsContainerCarousel  {
    height: 70vh;
    width: 43vh;
  }

  .projectsContainerCarousel div {
    width: 30vh;
  }

  .projectsContainerCarousel .img-container {
    height: 16vh;
    width: 30vh;
  }

  .projectsContainerCarousel div:hover {
    /* scale: 1; */
  }

  .projectsContainerCarousel a {
    width: 100%;
  }
  
  .aboutSectionData {
    display: none;
  }

  .statistics-heading {
    display: none;
  }

  
  .ContactSectionContainer {
    margin-top: 0;
  }

  .contactInfo  {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .contactInfo div {
    width: 80%;
  }

  .emailContainer {
    margin: 2rem 0;
  }

}

@media screen and (min-width:320px) and (max-width:499px) {
  header {
    position: relative;
  }

  .headerNav {
    display: none;
  }


  .homeImgContainer  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 10rem;
  }

  .homeImgContainer img {
    width: 30vh;
  }

  main {
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: flex-start; */
    padding-top: 10rem!important;
  }

  .scrollDownButton {
    display: none;
  }

  .homeContainer {
    width: 100%;
  }

  .menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background-color: #b54745;
    width: 10vh;
    border-radius: 0.5rem;
    right: 1.3rem;
    top: 5rem;
  }

  .menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #b54745;
    border: none;
    color: #e6a682;
    font-size: 2rem;
    width: 4vh;
    height: 4vh;
    padding-bottom: 0.3rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  .menu-button:hover {
    scale: 1.05;
  }


  .menu-container div {
    text-decoration: none;
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #e6a682;
  }

  .menu-container div:first-of-type {
    border-top: none;
  }

  .menu-container div:hover {
    background: rgba(160, 60, 58, 0.8);
  }


  .menu-container a {
    text-decoration: none;
    color: #ecb799;
    font-size: 1.2rem;
  }


  .skillsContainer {
    flex-direction: column;
    gap: 3rem;
    /* align-items: flex-start; */
    width: 85%;
  }

  .skillsSectionContainer {
    margin-bottom: 8rem;
  }
  
  .skillsData span {
    margin: 1rem 0 0 0;
    width: 90%;
  }

  .skillsData h3 {
    margin: 0;
    margin: 1rem 0 0 0;
  }
/* 
  i.fa-angle-down {
    margin: 0!important;
  }

  i.fa-angle-up {
    margin: 0!important;
  } */

  .skillsContent .skillsHeader {
    width: 38vh!important;
  }

  .skillsHeader h3 {
    font-size: 2.1rem;
    width: 60%; 
  }

  .aboutSectionContainer p {
    width: 67%;
    font-size: 1.7rem;
    text-align: center;
  }


  .projectsSectionContainer {
    width: 10vh;
    margin: 0 auto;
  }

  .projectsContainerCarousel  {
    height: 70vh;
    width: 30vh;
  }

  .projectsContainerCarousel div {
    width: 20vh;
    height: 60vh;
  }

  .projectsContainerCarousel .img-container {
    height: 10vh;
    width: 10vh;

  }

  .projectsContainerCarousel .project-links a {
    width: 70%;
    font-size: 1.5rem;
  }

  .projectsContainerCarousel div:hover {
    /* scale: 1; */
  }

  .projectsContainerCarousel .project-links {
    flex-direction: column;
  }

  .projectsContainerCarousel a {
    width: 100%;
  }
  
  .aboutSectionData {
    display: none;
  }

  .statistics-heading {
    display: none;
  }

  
  .ContactSectionContainer {
    margin-top: 0;
  }

  .contactInfo  {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .contactInfo div {
    width: 80%;
  }

  .emailContainer {
    margin: 2rem 0;
  }

}


/* DarkMode */

/* .header-dark > * {
  background: white;
} */

.header-dark .headerLogoName {
  color: var(--bg-200);
}



/* .header-dark ul li a {
  color: var(--bg-200);
}

.header-dark ul li a:hover {
  color: var(--bg-200);
}

.header-dark ul li:hover {
  background-color: #e6a682 ;

}

.header-dark ul li .fa-solid {
  color: var(--bg-200);
} */



.darkModeCarousel div {
  background: #ffffff;
  box-shadow: 0px 10px 36px 0px rgba(142, 140, 140, 0.1);
}

/* .DarkModeSkillsData {

}

.DarkModeSkillsData span {
  color: #e6a682;
  margin: 1rem 0 0 0;
  width: 90%;
}

.DarkModeSkillsData h3 {
  color: #b54745;
  margin: 0;
  margin: 1rem 0 0 0;
} */


.darkMode-body {
  background: var(--bg-100);
  background: rgba(0, 0, 0, 0.8);
  transition: background 0.2s linear;
}